*{
  padding: 0;
  margin: 0;
}

.App{
  width: 100vw;
  height: 100vh;
}

.black-dev{
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  box-sizing : border-box;
  
}
.list {
  text-align : left;
  padding: 10px;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}

.list > h4{
  margin-bottom: 8px;
}

.list > .date{
  color: rgb(173, 173, 173);
}

.d-flex{
  display: flex;
  align-items: center;
}

.d-none{
  display: none;
}

.more-btn{
  box-sizing: border-box;
  margin-left: 10px;
  background-color: white;
  border: 2px solid black;
  color: black;
  width: 60px;
  padding: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.like-btn{
  background-color: white;
  margin-right: 10px;
  border: none;
}

.like-btn:focus{
  outline: 0;
  border: none;
}

.like-btn:hover{
  border: none;
}

.like-box{
  margin-top: 10px;
}

.like-btn i{
  margin-left: 6px;
  margin-right: 4px;
} 

.modal{
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}

.submit-box{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit-box input{
  width: 240px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  border: none;
}

.submit-box input:focus {
  outline:none;
  border: none;
}

.sort-btn{
  display: flex;
  justify-content: right;
  margin-right: 20px;
  font-size: 10pt;
}
.sort-btn > button:focus{
  outline: 0;
  border: none;
}

.submit-btn{
  font-size: 11pt;
  margin-left: 6px;
  transition: 0.3s;
}

.submit-btn:hover{
  background-color: black;
  color: white;
}

.more-btn{
  font-size: 9pt;
  height: 30px;
  width: 50px;
  /* border: none; */
  border: 2px solid black;
  outline: none;
}

.more-btn:hover, .more-btn:focus{
  outline: none;
  border: 2px solid black;
  background-color: black;
  color: white;
}

